*{
    box-sizing: border-box;
}
body{
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}
.new-item{
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 2rem);
    padding: 1rem;
    border-radius: 8px;
    background-color: white;
}
.new-title{
    flex-basis: 15%;
    color: #005000;
}
.new-img{
    flex-basis: 20%;
    max-width: 100%;
}
img{
    height: 30rem;
}
.new-content{
    flex-basis: 60%;
}
.new-date{
    flex-basis: 5%;
    border-top: 1px solid #1d7246;
    padding-top: 1rem;
}