<div class="form">
    <div class="title">
        <label for="title">Título de la noticia:</label>
        <input type="text" id="title" [(ngModel)]="title">
    </div>
    <div class="url">
        <label for="url">URL de la imagen:</label>
        <input type="text" id="url" [(ngModel)]="url">
    </div>
    <div class="main">
        <label for="mainText">Contenido de la noticia:</label>
        <input type="text" id="mainText" [(ngModel)]="mainText">
    </div>
    <div class="date">
        <label for="date">Fecha de la noticia:</label>
        <input type="text" id="date" [(ngModel)]="date">
    </div>
    <button (click)="saveNew()">Crear noticia</button>
</div>
<div class="news" [innerHTML]="wNew">
    
</div>

