<div class="form">
    <div class="title">
        <label for="title">Título de la noticia:</label>
        <input type="text" id="title">
    </div>
    <div class="url">
        <label for="url">URL de la imagen:</label>
        <input type="text" id="url">
    </div>
    <div class="main">
        <label for="mainText">Contenido de la noticia:</label>
        <input type="text" id="mainText">
    </div>
    <div class="date">
        <label for="date">Fecha de la noticia:</label>
        <input type="text" id="date">
    </div>
    <button>Crear noticia</button>
</div>
<div class="news">
    <article>
        <h1>Título de la noticia</h1>
        <img src="" alt="Imagen de la noticia">
        <p>Contenido de la noticia</p>
        <p>Fecha de publicación</p>
    </article>
    <p>prueba noticias</p>
</div>

